#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  padding: 20px;
  /* text-align: center; */
}
/* Button */
.btn {
  background-color: green;
  color: lightgray;
  height: 95px;
  width: 150px;
  font-size: 18px;
  padding: 16px 32px;
}
.btn:hover {
  height: 100px;
}
.btn:active {
  cursor: grab;
}
/* Text 1 */
.text-1 {
  font-size: 22px;
  color: blue;
  font-style: italic;
}
.text-1:hover {
  font-size: 24px;
}
/* Text 2 */
.text-2 {
  color: green;
  font-weight: bold;
  padding: 16px 32px;
  border: 2px solid red;
}
.text-2:hover {
  border: 2px solid brown;
}
.image-1 {
  width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  border-radius: 11px;
}
.image-1:hover {
  opacity: 0.6;
}
/* Table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  max-width: 600px;
  margin: 20px auto;
  color: #333;
  background-color: white;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* Video */
.video-1 {
  display: block;
  width: 420px;
  height: 345px;
  margin: 20px auto;
}