@import "tailwindcss";

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  }

 html {
  scroll-behavior: smooth;
 }

 body {
  font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  padding-top: 80px;
}

 /* Containers */
 .container {
  max-width: 1000px;
  margin: 0 auto;
}

 /* Heading */

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 span {
  color: #007acc;
}